
<div class="row">
    <div 
    class="col-md-4 col-sm-6"
    *ngFor="let imagenes of resultados"
    class="animate__animated animate__fadeIn animate__faster"
    >
        <div class="card">
            <img [src]="imagenes.images.downsized_medium.url" 
            [alt]="imagenes.images.downsized_medium.url"
            class="card-img-top">
            <div class="card-body">
                <p class="card-tex">
                    {{imagenes.title}}
                </p>
            </div>
        </div>
    </div>
</div>